@mixin Flex-Center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin background_Text($image){
    background-image: url($image);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    background-position: center;
    background-size: cover;
}

@mixin Background($image,$size: center){
    background-image: url($image);
    background-size: cover;
    background-position: $size;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0);
}

body{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h2{
        font-size: 5rem;
        background: linear-gradient(to right,red,green,blue);
        background-clip: text;
        color: transparent;
    }
}
